
 
  @import './utils/variables';
  @import './components/fonts';
  @import './layouts/container';
  @import './components/header';
  

* {
  box-sizing: border-box;
}

  .section {
    padding: 48px 0;

  }

h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.section {
    padding: 48px 0;
}

  

    

  
  /* Base */
 

  body {
      color: var(--beauty-landing-2-c1);
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400; 
    
  }

  .brand {
    color: var(--beauty-landing-2-2, #2B7FFF);
      font-family: Play;
      font-style: normal;
      line-height: normal;
      text-transform: capitalize;
  }
  
    /* Hero section */



    .hero {
      
      
      padding: 124px 0;
      padding: 116px 0 207px;
	    background-image: linear-gradient(69deg, rgba(255, 255, 255, 1.00) 0%, rgba(255, 255, 255, 0.78) 31%, rgba(255, 255, 255, 0.20) 50%, rgba(255, 255, 255, 0.00) 68%), url('../images/hero-bg.png');
	    background-size: cover;
	    background-position: -575px 0;
	    background-repeat: no-repeat;




      &__container {
        display: flex;
        align-items: center;
      }



      &__content {
        margin: 0 auto;

      }

      &__text {
        margin-bottom: 16px;
        padding-left: 6px;
        font-size: 12px;
        text-align: center; 
    }

    &__content {
      margin: 0 auto;
    }
    &__title {
      font-size: 54px;
      color: var(--brand-color);
      margin-bottom: 40px;
      line-height: 0.8;
      max-width: 530px;
      text-align: center;
    }
    &__desc {
      color: #4A4A4A;
      line-height: 1.5;
      max-width: 301px;
      margin: 8px auto 0;
      font-size: 11px;
      text-align: center;
    }
      
    }
    .hero-title {
        color: var(--beauty-landing-2-c1);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }
   
    .hero-title h1{
        color: var(--beauty-landing-2-2);
        font-family: Play;
        font-size: 140px;
        font-weight: 700;
        line-height: 114px; /* 81.429% */
        text-transform: capitalize;
        margin-bottom: 40px;
    }
    .hero-title p{
      width: 238px;
      color: var(--beauty-landing-2-c3, #4A4A4A);
      line-height: 18px;
      text-align: center;
    }

      
  /* Button */
  .button {
    color: var(--beauty-landing-2-background, #FFF);
    font-weight: 600;
    line-height: normal;
    border: 2px solid var(--beauty-landing-2-2, #2B7FFF);
    border-radius: 32px;
    background: var(--beauty-landing-2-2, #2B7FFF);
    margin-bottom: 14px;
    padding: 16px 32px;
   
  }
  .button:hover {
    color: var(--beauty-landing-2-c1, #011C44);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    border-radius: 32px;
    border: 2px solid #2B7FFF;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    }
  
 

  address {
      font-style: normal;
  }
  
  /* Link */
  .link {
    color: var(--beauty-landing-2-c1, #011C44);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  .link:hover {
    color: var(--beauty-landing-2-2, #2B7FFF);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  
  .about-us-link {
    color: var(--beauty-landing-2-2, #2B7FFF);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .about-us-link:hover {
    font-weight: 700;
    text-decoration: underline;

  }

  .social-link {
          color: var(--beauty-landing-2-2);
          text-decoration: none;
      }
      
      /* Section title  */
      .section-title {
          color: var(--beauty-landing-2-c1);
          font-family: Play; 
          font-size: 64px;
          font-weight: 700;
          line-height: 1.16;
          
      }
    
      
      /* about-us-section */
      
      .about-us-section {
          color: var(--beauty-landing-2-c1);
          font-family: Roboto;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.7;
      }
      .about-us-container h1{
          font-family: Play;
          font-size: 64px;
          font-weight: 700;
          line-height: 1.16;
          margin-bottom: 40px;
      }
      .about-us-section .brand {
        color: var(--beauty-landing-2-2, #2B7FFF);
          font-family: Play;
          font-style: normal;
          line-height: normal;
          text-transform: capitalize;
      }
      
      .about-us-container p{
          margin-bottom: 40px;
      }

      .about-us-section .capitalize{
          font-weight: 600;
          line-height: 38px;
          text-transform: capitalize;


      }
          .about-us-container {
            display: flex;
            gap: 40px;
            

            &__text {

              flex-grow: 1;
              margin-right: 14px;
              max-width: 709px;
              gap: 40px;

            }
            &__image {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              gap: 32px;
              // margin-left: 14px;

            }

            
          }

          .about-us-container__image-1 {
            background: url(../images/about-us-1.jpg) lightgray 0px -171px / 200.971% 204.268% no-repeat;
            border-radius: 327px;
            background: #D9D9D9;
            width: 335px;
            height: 328px;
            flex-shrink: 0;
            align-self: flex-start;
            gap: 16px;


            // margin-left: 28px;
    
          }
          
          .about-us-container__image-2 {
            background: url(../images/about-us-1.jpg) lightgray 0px -171px / 200.971% 204.268% no-repeat;
            border-radius: 327px;
            background: #D9D9D9;
            width: 343px;
            height: 328px;
            align-self: flex-end;
            // flex-shrink: 0;
            // margin-left: 196px;
            // margin-top: 40px;
          }

      
      /* why-us-section  */
      
      .why-us-section {
        
       
        // align-items: flex-start;
        // align-content: space-between;

        &__title {
          color: var(--beauty-landing-2-c1, #011C44);
          font-family: Play;
          font-size: 64px;
          font-weight: 700;
          line-height: 1.16;
          text-align: center;
          margin-bottom: 48px;
        }

      }
      
      .why-us-section .brand{
        text-transform: lowercase;
          font-size: 64px;
      }
        
      .why-us-section-cards {
        display: flex;
        
        justify-content: space-between; /* Равномерное распределение пространства между элементами */
        align-items: stretch; /* Вертикальное растягивание элементов */
        gap: 20px; /* Промежуток между элементами */
        
    }

    .why-us-section-article{
      display: flex;
      flex-wrap: wrap;
     
      
    }
    
    .why-us-section-card {
        border-radius: 32px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1; /* Элементы растягиваются равномерно, заполняя всё свободное пространство */
        text-align: center;
        min-width: 300px;
        box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
        margin: 10px; /* Отступы между карточками */
        padding: 20px; /* Внутренние отступы для контента */
    }
    
    .why-us-section-text {
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        padding: 24px 32px;
    }
    
    .why-us-section-image {
        width: 48px;
        height: auto;
        
        align-items: center;
        margin-bottom: 10px;
    }
    

       /* Our procedures section  */

       .our-procedures {
        display: flex;
        flex-wrap: wrap;
        
        // justify-content: space-between; /* Равномерное распределение пространства между элементами */
        // align-items: stretch; /* Вертикальное растягивание элементов */
        gap: 20px; /* Промежуток между элементами */
       }

       .procedures {
       
        flex-basis: calc((100% - 40px)/3);
        border-radius: 32px;
        
       }
       .procedures-item{
        border: 2px solid #2B7FFF;
        width: 100%;
        height: 456px;

        background-image: url(../images/mask-image.jpg);
        background-repeat: no-repeat;
       }

       .our-procedures-text {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
       
       }


      
      .our-procedures-section {
          color: black;
          font-family: Roboto;
          font-size: 22px;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
       }

       .our-procedures-section h1{
        color: var(--beauty-landing-2-c1, #011C44);
        font-family: Play;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.16;
        margin-bottom: 48px;
       }

       .our-procedures-section .brand{
        text-transform: lowercase;
       }
  
        /* Contact section  */

        .contact-section h1 {
          width: 432px;
          height: 75px;
          color: var(--beauty-landing-2-c1, #011C44);
          font-family: Play;
          font-size: 64px;
          font-weight: 700;
          line-height: 1.16;
          margin-bottom: 48px;
        }
        
        .contact-section .brand{
          text-transform: lowercase;
        }

      /* Footer */
    

  .address-copyright{
  color: var(--beauty-landing-2-5, #747272);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .footer {
    background: #011C44;
    color: var(--beauty-landing-2-background, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
