:root{
    --beauty-landing-2-background:#FFFFFF;
    --beauty-landing-2-c1:#011C44;
    --beauty-landing-2-2: #2B7FFF;
    --color-secondary-1: #4A4A4A;
    --color-secondary-2: #747272;
    --color-secondary-3: #011F4A;
    --color-secondary-4: #FFD02B;
    
    
    }