:root {
	--primary-color-dark: #011C44;
	--brand-color-blue: #2B7FFF;
	--black-color: #011C44;
	--white-color: #FFF;
	--secondary-color: #4A4A4A;
	--secondary-color-light: #747272;
	--secondary-color-dark-blue: #011F4A;
	--secondary-color-yellow: #FFD02B;
}

