.button{
    display: block;
    border-radius: 32px;
    border: 2px solid var(--brand-color-blue);
    background: var(--brand-color-blue);
    color: var(--beauty-landing-2-background, #FFF);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    
}