.carousel-button {


    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid var(--black-color);
        fill: var(--black-color);
        cursor: pointer;

        background-color: transparent;
		width: 44px;
		height: 44px;
		padding: 0;
		margin: 0;



        &__next {
            transform: rotate(180deg);
        }
}

    .carousel-button:hover{
        background: var(--brand-color-blue);
        border: 1px solid var(--white-color);
        fill: var(--white-color);
    }

   
