
.header {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 16px 20px;
     
      
      
      &__container {
        display: flex;
          align-items: center;
          max-width: 1239px;
          margin: 0 auto;
        
      }
  
     
      &__nav {
        display: flex;
          align-items: center;
          justify-content: space-between;
          flex-grow: 1;
          gap: 40px;
        
      }
  
      &__menu {
        display: flex;
        gap: 56px;
        flex-grow: 1;
        justify-content: center;
      }
  
      &__social-link {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        align-items: center;
      }
    }