.about{
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    


    &___container{
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center; 
        width: 100%;
        position: relative;
    }

    &__content{
        display: flex;
        align-items: flex-start;
        gap: 40px; 
        position: relative;
         
    }
    &__texts{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 50%;
        position: relative;
    }

    &__title{
        font-family: Play, sans-serif;
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 0;
        width: 509px;
    }
    &__title-capitalize{
        text-transform: capitalize;
    }

    &__images{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 40px;
        border-radius: 50%;
        position: relative;    
    }

    &__img-1 {
        border-radius: 50%;
        // max-width: 100%; /* Установлено максимальное значение ширины для адаптивности */
        // height: auto; /* Установлено автоматическое значение высоты для адаптивности */
        align-self: flex-start;
        width: 335px;
        height: 328px;
    }

    &__img-2 {
        border-radius: 50%;
        max-width: 100%; /* Установлено максимальное значение ширины для адаптивности */
        height: auto; /* Установлено автоматическое значение высоты для адаптивности */
        align-self: flex-end;
        width: 343px;
        height: 328px; 
    }
  
    &__about__text-1
    {
    width: 100%; /* Установлено значение ширины 100% для адаптивности */
}

    &__about__text-2
    {
        width: 709px;
    }

    &__text-2-capitilize{
        font-weight: 600;
        text-transform: capitalize;

    }

    
&__content::after {
	position: absolute;
	content: '';
	width: 40px;
	height: 40px;
	background-image: url('../images/purpleStar-icon.svg');
    top: 366px;
    right: 342px;
	animation-name: rotateLeft;
	animation-duration: 24s;
	animation-iteration-count: infinite;
}





&__images::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('../images/blueStar-icon.svg');
    top: 14px;
    right: 9px;
    animation-name: rotateLeft;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}

&__images::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url('../images/grayStar-icon.svg');
    top: 252px;
    right: 39px;
    animation-name: scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

}