.contacts {
     display: flex;
    justify-content: center;
    align-items: center;



    &__title{
        text-align: center;
        font-family: Play, sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 48px;
    }
    
    &__container{
        display: flex;
        gap: 32px;
    }

    &__map {
        display: flex;
        justify-content: center;
        width: 605px;
        height: 481px;
        border-radius: 32px;
        
    }



  }

