.footer {
    display: flex;
    position: relative;
    background-color: var(--primary-color-dark);
    background-image: url('/images/footer-bg.png');
    color: var(--white-color);
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 56px 0;
    margin: 0 auto;
    overflow: hidden; /* щоб уникнути горизонтальної прокрутки */


    &__container {
        display: flex;
        align-items: flex-start;
        gap: 186px;
        margin: 0 auto;
        padding: 0 16px; /* Додаємо внутрішні відступи для зручності */
    }

    &__nav {
        display: flex;
        color: beige;
    }

    &__logo {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    &__menu-item {
        color: var(--white-color); /* Колір тексту в меню */
    }

    &__address {
        display: flex;
        flex-direction: column;
    }

    &__address-link {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
        width: 203px;
        color: var(--white-color);
    }

    &__social {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        gap: 24px;
    }

    &__social-link {
        display: flex;
        align-items: center;
    }

    &__social-icon {
        display: flex;
        fill: var(--white-color);
        transition: transform .2s, stroke .2s, fill .2s;
    }

    &__social-icon:hover {
        transform: scale(1.2);
        fill: var(--white-color);
        stroke: var(--brand-color-blue);
    }

    &__address-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        position: relative; /* Додаємо відносне позиціонування */
    }

    &__address-info::after {
        content: '';
        position: absolute;
        bottom: -156px; /* Розташування під елементом */
        left: 0;
        width: 218px;
        height: 161px;
        background-image: url('/images/footer-img.png');
        background-size: cover; /* Адаптивне розміщення зображення */
        background-position: center; /* Центрування зображення */
    }

    &__address-copyright {
        color: #747272;
        font-family: Roboto;
        font-size: 13px;
    }

    &__address-link-2 {
        text-decoration: none;
        padding-bottom: 0px;
        color: var(--white-color);
    }

    &__menu-item:hover,
    &__address-link-2:hover,
    &__address-link:hover {
        color: var(--brand-color-blue);
    }
}
